.btn {
  border-radius: 0 !important;
  color:#f8b400 !important;
  border-color: #f8b400 !important;
  width: 50% !important;
}

.btn:hover {
  background-color: #f8b400 !important;
  color: black !important;
  border-color: #f8b400 !important;
}

.form-check input:checked + label{
  color:#f8b400;
}

.input-parts, .input-labor {
  width: 50%;
}
