/**
  Title: view-users.component.css
  Author: Justin Barlowe
  Date: 2/17/2024
  Description: Styles for BCRS view user page
*/

/* Change for background color and color for table */
.table {
  background-color: #212529 !important;
  color: white !important;
}

/* Change for background color, border color, and color for editButton */
#editButton {
  background-color: #f8b400 !important;
  border-color: #f8b400 !important;
  color: black !important;
}

/* Change for background color and border color for editButton */
#editButton:hover {
  background-color: #cf9800 !important;
  border-color: #cf9800 !important;
}

/* Styling for the delete message displayed to the user */
.deleteConfirmation {
  color: #f8b400 !important;
  font-size: large !important;
}

input {
  border: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 2px solid #f8b400;
  outline: none;
  color: white;
}

/* Remove white background from input field when focused */
input:focus {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  color: white;
}

/* Change placeholder color due to dark background */
input::placeholder {
  color: white;
}