<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card text-white bg-dark mb-3 w-50">
      <div class="card-header text-center h1">View All Users</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ user.userName }}</td>
              <td>{{ user.email }}</td>
              <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>