<!-- Name: John Davidson
File: about.component.html
Description: HTML file for the about component
Date: 2/17/2024-->

<!-- About start-->
<div class="container">
  <div class="card bg-dark text-white mt-4">
  <h1 class="text-center mt-5 gold">About Us</h1>
  <div class="row">
    <!-- Could leave in image if we change our minds. -->
    <!-- <div class="col about-img">
      <img src="../../assets/images/about-img.jpg">
    </div> -->

    <!-- About biography div-->
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto about-bio">
      <p>Bob's Computer Repair Shop has been a family owned business since 1998, nested in the heart of Omaha, Nebraska. Founded by the skilled and dedicated Bob Parker,
        our shop has become a trusted haven for all things computer-related. Specializing in hardware repairs, we pride ourselves on offering personalized service and
        expert solutions to keep your devices running smoothly.</p>

      <br />

      <p>As a small, single-location business, we prioritize quality over quantity, ensuring that each customer receives the attention and care they deserve.
        With over 20 years of experience, Bob has taken his knowledge of hardware and bestowed it upon every team member at Bob's Computer Repair Shop, ensuring
        every customer receives top-tier service.</p>

      <br />

      <p>This wealth of experience and expertise sets us apart, allowing us to diagnose and resolve even the most challenging issues with confidence and precision.
        We understand the frustration that comes with computer problems, which is why we strive to provide prompt and reliable service every time we engage with customers.
        From diagnosing the problem to offering transparent pricing and speedy repairs, we aim to make the process as seamless as possible for our valued clients.</p>

      <br />

      <p>At Bob's Computer Repair Shop, we believe in fostering long-term relationships with our customers, built opn trust, integrity, and exceptional service. Whether
        you're a student, a business owner, or a casual user, you can rely on us to keep your devices in top-notch condition. Visit us today and experience the difference
        first hand - because when it comes to computer repairs, there's no one quite like Bob's.
      </p>
    </div>
  </div>
</div>
</div>