<!--
  Title: invoice-summary.component.html
  Author: Nolan Berryhill
  Date: 02/25/2024
  Description: View Invoice Summary page
-->


<div class="container">
  <h1 class="text-center">Invoice Summary</h1>
    <div class="invoice-details">
        <!-- Display invoice details here -->
    </div>
    <!-- Customer information -->
    <div class="customer-info">
        <!-- Display customer information here -->
    </div>
    <!-- Itemized purchases -->
    <div class="itemized-purchases">
        <!-- Display itemized purchases here -->
    </div>
    <!-- Total amount -->
    <div class="total-amount">
        <!-- Display total amount here -->
    </div>
    <!-- Print button -->
    <button onclick="window.print()">Print Invoice</button>
</div>
