<!-- Name: Justin Barlowe
File: employee-landing.component.html
Description: HTML file for the employee landing component
Date: 2/17/2024-->

<!-- Employee landing page card -->

<div class="container">
<div class="d-flex justify-content-center">
  <div class="card text-white bg-dark mb-3 w-50">
    <div class="card-header text-center h1">Employee Portal</div>
    <div class="card-body">
      <h5 class="card-title text-center" style="color: #f8b400;">Welcome, {{ name }}!</h5>
    <div class="card-body">
      <ul class="list-group list-group-flush">

        <!-- ngIf directive to only show user or admin links depending on role -->
        <li class="list-group-item bg-dark text-center" *ngIf="userRole === 'admin'">
          <a routerLink="/view-users" class="text-white h2 portalLinks">View All Users</a>
        </li>

        <!-- ngIf directive to only show user or admin links -->
        <li class="list-group-item bg-dark text-center" *ngIf="userRole === 'admin'">
          <a routerLink="/create-user" class="text-white h2 portalLinks">Create User</a>
        </li>
        <li class="list-group-item bg-dark text-center">
          <a href="/create-invoice" class="text-white h2 portalLinks">Create Invoice</a>
        </li>
        <li class="list-group-item bg-dark text-center">
          <a href="/search-invoices" class="text-white h2 portalLinks">Search Invoices</a>
        </li>
        <!-- Employee directory link -->
        <li class="list-group-item bg-dark text-center">
          <a routerLink="/employee-directory" class="text-white h2 portalLinks">Employee Directory</a>
        </li>

        <!-- ngIf directive to only show user or admin links -->
        <li class="list-group-item bg-dark text-center" *ngIf="userRole === 'admin'">
          <a href="/admin-area" class="text-white h2 portalLinks">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</div>
