/**
  Title: employee-landing.component.css
  Author: Justin Barlowe
  Date: 3/01/2024
  Description: Styles for BCRS employee landing page
*/

/* Styles for portalLinks */

.portalLinks {
  text-decoration: none;
}

.portalLinks:hover {
  text-decoration: underline;
}