<div class="container">
<div class="d-flex justify-content-center">
  <div class="card text-white bg-dark mb-3 w-50">
    <div class="card-header text-center h1">Employee Portal</div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark text-center">
          <a routerLink="/view-users" class="text-white h2">View All Users</a>
        </li>
        <li class="list-group-item bg-dark text-center">
          <a href="/create-invoice" class="text-white h2">Create Invoice</a>
        </li>
        <li class="list-group-item bg-dark text-center">
          <a href="/search-invoices" class="text-white h2">Search Invoices</a>
        </li>
        <li class="list-group-item bg-dark text-center">
          <a href="/admin-area" class="text-white h2">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</div>
