<!-- Contact Us Start -->
<div class="container">
  <div class="card bg-dark p-4 mt-5">
  <h1 class="text-center mt-2 mb-5 gold">Contact Us</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="contact-info text-white" style="font-size: 1.3rem">
        <p><strong>Phone:</strong> <br>(123) 456-7890</p>
        <p><strong>Address:</strong> <br> 1000 Galvin Rd S, Bellevue, NE 68005</p>
        <p><strong>Email:</strong><br> contact@bobsrepair.com</p>
        <p><strong>Hours:</strong></p>
        <p>Mon - Fri: 9:00 AM - 5:00 PM</p>
        <p>Sat: 10:00 AM - 4:00 PM</p>
        <p>Sun: Closed</p>
      </div>
    </div>
    <!-- Iframe section -->
    <div class="col-md-4">
      <iframe
        id="map-canvas"
        class="map_part"
        width="600"
        height="450"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=1000 Galvin Rd S, Bellevue, NE 68005&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
      ></iframe>
    </div>

    <!-- End Iframe section -->
  </div>
  </div>
</div>
<!-- Contact Us End -->
