#editButton {
  background-color: #f8b400 !important;
  border-color: #f8b400 !important;
  color: black !important;
}

#editButton:hover {
  background-color: #c69100 !important;
  border-color: #c69100 !important;
  color: black !important;
}

.user-field{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}