<!--
  Title: fourzerofour.component.html
  Author: Nolan Berryhill
  Date: 02/14/2024
  Description: 404 page
-->

<!-- Opening of divs for the 404 page -->
<div class="container">

  <div id="grid-container">
    <div class="grid-item">
      <!-- 404 photo -->
      <img src="" style="max-width: 5000px;" alt="Error">
    </div>
    <div class="grid-item">
      <!-- Header -->
      <h1 style="text-align: center;">404</h1>
      <!-- 404 warning for user to know they made a error -->
      <p style="text-align: center;">
        No! No! No repairs for you!
      </p>
    </div>
  </div>
</div>
