<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card text-white bg-dark mb-3 w-50">
      <div class="card-header text-center h1">Employee Directory</div>


      <div class="row">
        <!-- Employee 1 -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card-body employee-card">
            <img src="../../assets/images/employee1.jpg" class="img-fluid employee-image" alt="Employee 1">
            <h4 class="mt-2 text-center">Bob</h4>
            <p class="text-center">Owner</p>
          </div>
        </div>

        <!-- Repeat for other employees -->
        <!-- Employee 2 -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card-body employee-card">
            <img src="../../assets/images/employee2.jpg" class="img-fluid employee-image" alt="Employee 2">
            <h4 class="mt-2 text-center">Savannah</h4>
            <p class="text-center">Desk Clerk</p>
          </div>
        </div>

        <!-- Employee 3 -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card-body employee-card">
            <img src="../../assets/images/employee3.jpg" class="img-fluid employee-image" alt="Employee 1">
            <h4 class="mt-2 text-center">Christian</h4>
            <p class="text-center">Hardware Specialist</p>
          </div>
        </div>

        <!-- Employee 4 -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card-body employee-card">
            <img src="../../assets/images/employee4.jpg" class="img-fluid employee-image" alt="Employee 2">
            <h4 class="mt-2 text-center">Joel</h4>
            <p class="text-center">Diagnostic Examiner</p>
          </div>
        </div>

        <!-- Employee 5 -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card-body employee-card">
            <img src="../../assets/images/employee5.jpg" class="img-fluid employee-image" alt="Employee 1">
            <h4 class="mt-2 text-center">Lee</h4>
            <p class="text-center">Hardware Specialist</p>
          </div>
        </div>

        <!-- Employee 6 -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card-body employee-card">
            <img src="../../assets/images/employee6.jpg" class="img-fluid employee-image" alt="Employee 2">
            <h4 class="mt-2 text-center">Abby</h4>
            <p class="text-center">Desk Clerk</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

