html, body {
  font-size: large !important;
}

body {
  background: url(assets/images/backgroundimage3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  color: white !important;
  font-family: 'Dosis', sans-serif !important;
}

.table {

  --bs-table-bg: #212529!important;
  --bs-table-color: white !important;
}

.password-input {
  color: white !important;
}

.container {
  margin-bottom: 100px;
}

.gold {
  color: #f8b400 !important;
}