<!-- Home Start -->
<div class="container-fluid">
  <div class="text-center pt-3">
    <h1>Welcome to Bob's Computer Repair Shop!</h1>
  </div>

  <!-- Home Image -->
  <div class="home-image">
  <figure>
    <img
      src="assets/images/home-image.jpg"
      class="img-fluid rounded mx-auto d-block mt-3"
      style="max-width: 700px;"
      alt="Home Image"/>
    <figcaption class="text-center" style="font-size: xx-small;">
      Photo by <a href="https://www.pexels.com/photo/black-and-white-hard-disk-drive-2582931/">Athena</a>
    </figcaption>
  </figure>
  </div>
<!-- End Home Image -->

<!-- Home Content -->
<div class="container mt-5">
  <div class="row justify-content-center">

    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card clear-background mx-auto">
        <div class="card-body">
          <h5 class="card-title text-center">What we do</h5>

          <figure>
            <img src="assets/images/home1.jpg" class="img-fluid" style="border-radius: 10px;" alt="Home Image 1">
            <figcaption style="font-size: xx-small">Photo by Blaz Erzetic: <a href="https://www.pexels.com/photo/person-soldering-chip-2628105/">Source</a></figcaption>
          </figure>

          <p class="card-text">We provide many computer repair services including: Repair, Upgrades, Cleaning and more!</p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card clear-background mx-auto">
        <div class="card-body">
          <h5 class="card-title text-center">Quick Turn Around</h5>

          <figure>
            <img src="assets/images/home2.jpg" class="img-fluid" style="border-radius: 10px;" alt="Home Image 2">
            <figcaption style="font-size: xx-small">Photo by Martin Lopez: <a href="https://www.pexels.com/photo/white-and-black-computer-fan-2225617/">Source</a></figcaption>
          </figure>
          <p class="card-text">We provide many same day services, with some services we can complete without you even having to leave the shop!</p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card clear-background mx-auto">
        <div class="card-body">
          <h5 class="card-title text-center">Experience</h5>

          <figure>
            <img src="assets/images/home3.jpg" class="img-fluid" style="border-radius: 10px;" alt="Home Image 3">
            <figcaption style="font-size: xx-small">Photo by Andrea Piacquadio: <a href="https://www.pexels.com/photo/focused-man-working-on-laptop-in-workshop-3844533/">Source</a></figcaption>
          </figure>
          <p class="card-text">Our team of highly experienced members will makes sure that your repairs exceed your expectations and will last.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Home Content -->

<!-- FAQ Link -->
<div class="faq-section text-center mt-5">
  <h1><a routerLink="faq" style="text-decoration: underline;">Frequently Asked Questions</a></h1>
</div>
<!-- End FAQ Link -->

</div>
<!-- End Home -->